@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes scrollImages {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End off-screen to the left */
  }
}

.animate-scroll {
  animation: scrollImages 20s linear infinite;
}
